{% extends 'home.html' %}

{% load staticfiles %}

{% block content %}


      </header>
      <br>
      <br>
      <<div class="container text-center">
      <h1 >Welcome to Praise's Blog</h1>
      <h5> Where I talk about everything and anything that's ML, web dev or Manchester United related!</h5>
      </div>


      <br>
      <br>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Technology</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Manchester United</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div>


<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h1 class="pb-4 mb-4 font-italic border-bottom"> Latest posts </h1>


      {% for blog in blog.all %}
      <div class="blog-post border-bottom">
        <br>
        \<h2 class="blog-post-title">{{blog.Title}}</h2>
        <br>
        <img class='img-fluid' src="{{blog.image.url}}" height='200' width="200">

        <br>
        <p class="blog-post-meta">{{ blog.pub_date_pretty}}

          <p>{{ blog.summary }}....<a href="{{ blog.get_absolute_url }}">continue reading</a></p>

      </div><!-- /.blog-post -->
      {% endfor %}

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div><!-- /.blog-main -->


  </div><!-- /.row -->

</main><!-- /.container -->

{% endblock %}
