{% extends 'home.html' %}

{% load staticfiles %}

{% block content%}

      <div class="container text-center">

      <h1> {{blog.Title}} </h1>
      </div>

      <br>

<main role="main" class="container text-center">
  <div class="row">
    <div class="col-md-8 blog-main">

      <div class="blog-post text-center">
        <br>
        <img class='img-fluid ' src="{{blog.image.url}}" height='400' width="400">

        <br>
        <br>

            <p>{{ blog.body }}</p>

      </div><!-- /.blog-post -->


    </div><!-- /.blog-main -->


  </div><!-- /.row -->

</main><!-- /.container -->


<nav class="blog-pagination text-center">
  <a class="btn btn-outline-primary" href="{% url 'allblogs' %}">back</a>
  <br>
  <br>

{% endblock %}
